<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yukz.daodaoping.task.dao.TaskAcceptInfoDao">

	<select id="get" resultType="com.yukz.daodaoping.task.domain.TaskAcceptInfoDO">
		select `id`,`task_id`,`user_id`,`open_id`,`certification_url`,`task_status`,`verify_status`,`worker_id`,`amount`,`has_paid`,`agent_id`,`expire_time`,`gmt_create`,`gmt_modify` from ddp_task_accept_info where id = #{value}
	</select>

	<select id="list" resultType="com.yukz.daodaoping.task.domain.TaskAcceptInfoDO">
		select `id`,`task_id`,`user_id`,`open_id`,`certification_url`,`task_status`,`verify_status`,`worker_id`,`amount`,`has_paid`,`agent_id`,`expire_time`,`gmt_create`,`gmt_modify` from ddp_task_accept_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="certificationUrl != null and certificationUrl != ''"> and certification_url = #{certificationUrl} </if>
		  		  <if test="taskStatus != null and taskStatus != ''"> and task_status = #{taskStatus} </if>
		  		  <if test="verifyStatus != null and verifyStatus != ''"> and verify_status = #{verifyStatus} </if>
		  		  <if test="verifyStatusIsnull != null and verifyStatusIsnull == '1'"> and verify_status is null </if>
		  		  <if test="workerId != null and workerId != ''"> and worker_id = #{workerId} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="hasPaid != null and hasPaid != ''"> and has_paid = #{hasPaid} </if>
		  		  <if test="agentId != null and agentId != ''"> and agent_id = #{agentId} </if>
		  		  <if test="expireTime != null and expireTime != ''"> and expire_time = #{expireTime} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModify != null and gmtModify != ''"> and gmt_modify = #{gmtModify} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ddp_task_accept_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="certificationUrl != null and certificationUrl != ''"> and certification_url = #{certificationUrl} </if>
		  		  <if test="taskStatus != null and taskStatus != ''"> and task_status = #{taskStatus} </if>
		  		  <if test="verifyStatus != null and verifyStatus != ''"> and verify_status = #{verifyStatus} </if>
			 	  <if test="verifyStatusIsnull != null and verifyStatusIsnull == '1'"> and verify_status is null </if>
		  		  <if test="workerId != null and workerId != ''"> and worker_id = #{workerId} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="hasPaid != null and hasPaid != ''"> and has_paid = #{hasPaid} </if>
		  		  <if test="agentId != null and agentId != ''"> and agent_id = #{agentId} </if>
		  		  <if test="expireTime != null and expireTime != ''"> and expire_time = #{expireTime} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModify != null and gmtModify != ''"> and gmt_modify = #{gmtModify} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yukz.daodaoping.task.domain.TaskAcceptInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into ddp_task_accept_info
		(
			`task_id`, 
			`user_id`, 
			`open_id`, 
			`certification_url`, 
			`task_status`, 
			`verify_status`, 
			`worker_id`, 
			`amount`, 
			`has_paid`, 
			`agent_id`, 
			`expire_time`, 
			`gmt_create`, 
			`gmt_modify`
		)
		values
		(
			#{taskId}, 
			#{userId}, 
			#{openId}, 
			#{certificationUrl}, 
			#{taskStatus}, 
			#{verifyStatus}, 
			#{workerId}, 
			#{amount}, 
			#{hasPaid}, 
			#{agentId}, 
			#{expireTime}, 
			#{gmtCreate}, 
			#{gmtModify}
		)
	</insert>
	 
	<update id="update" parameterType="com.yukz.daodaoping.task.domain.TaskAcceptInfoDO">
		update ddp_task_accept_info 
		<set>
			<if test="taskId != null">`task_id` = #{taskId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="openId != null">`open_id` = #{openId}, </if>
			<if test="certificationUrl != null">`certification_url` = #{certificationUrl}, </if>
			<if test="taskStatus != null">`task_status` = #{taskStatus}, </if>
			<if test="verifyStatus != null">`verify_status` = #{verifyStatus}, </if>
			<if test="workerId != null">`worker_id` = #{workerId}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="hasPaid != null">`has_paid` = #{hasPaid}, </if>
			<if test="agentId != null">`agent_id` = #{agentId}, </if>
			<if test="expireTime != null">`expire_time` = #{expireTime}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModify != null">`gmt_modify` = #{gmtModify}</if>
		</set>
		where id = #{id}
	</update>

	<update id="batchUpdate" parameterType="list">
		<foreach collection="list" item="item" separator=";">
			update ddp_task_accept_info
				<set>
					<if test="taskId != null">`task_id` = #{item.taskId}, </if>
					<if test="userId != null">`user_id` = #{item.userId}, </if>
					<if test="openId != null">`open_id` = #{item.openId}, </if>
					<if test="certificationUrl != null">`certification_url` = #{item.certificationUrl}, </if>
					<if test="taskStatus != null">`task_status` = #{item.taskStatus}, </if>
					<if test="verifyStatus != null">`verify_status` = #{item.verifyStatus}, </if>
					<if test="workerId != null">`worker_id` = #{item.workerId}, </if>
					<if test="amount != null">`amount` = #{item.amount}, </if>
					<if test="hasPaid != null">`has_paid` = #{item.hasPaid}, </if>
					<if test="agentId != null">`agent_id` = #{item.agentId}, </if>
					<if test="expireTime != null">`expire_time` = #{item.expireTime}, </if>
					<if test="gmtCreate != null">`gmt_create` = #{item.gmtCreate}, </if>
					<if test="gmtModify != null">`gmt_modify` = #{item.gmtModify}</if>
				</set>
				where id = #{item.id}
		</foreach>
	</update>
	
	<delete id="remove">
		delete from ddp_task_accept_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ddp_task_accept_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>