<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yukz.daodaoping.task.dao.TaskTypeInfoDao">

	<select id="get" resultType="com.yukz.daodaoping.task.domain.TaskTypeInfoDO">
		select `id`,`platform`,`task_type_desc`,`task_type`,`allowed`,`agent_id`,`gmt_create`,`gmt_modify` from ddp_task_type_info where id = #{value}
	</select>

	<select id="list" resultType="com.yukz.daodaoping.task.domain.TaskTypeInfoDO">
		select `id`,`platform`,`task_type_desc`,`task_type`,`allowed`,`agent_id`,`gmt_create`,`gmt_modify` from ddp_task_type_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="platform != null and platform != ''"> and platform = #{platform} </if>
		  		  <if test="taskTypeDesc != null and taskTypeDesc != ''"> and task_type_desc = #{taskTypeDesc} </if>
		  		  <if test="taskType != null and taskType != ''"> and task_type = #{taskType} </if>
		  		  <if test="allowed != null and allowed != ''"> and allowed = #{allowed} </if>
		  		  <if test="agentId != null and agentId != ''"> and agent_id = #{agentId} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModify != null and gmtModify != ''"> and gmt_modify = #{gmtModify} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ddp_task_type_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="platform != null and platform != ''"> and platform = #{platform} </if>
		  		  <if test="taskTypeDesc != null and taskTypeDesc != ''"> and task_type_desc = #{taskTypeDesc} </if>
		  		  <if test="taskType != null and taskType != ''"> and task_type = #{taskType} </if>
		  		  <if test="allowed != null and allowed != ''"> and allowed = #{allowed} </if>
		  		  <if test="agentId != null and agentId != ''"> and agent_id = #{agentId} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModify != null and gmtModify != ''"> and gmt_modify = #{gmtModify} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yukz.daodaoping.task.domain.TaskTypeInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into ddp_task_type_info
		(
			`platform`, 
			`task_type_desc`, 
			`task_type`, 
			`allowed`, 
			`agent_id`, 
			`gmt_create`, 
			`gmt_modify`
		)
		values
		(
			#{platform}, 
			#{taskTypeDesc}, 
			#{taskType}, 
			#{allowed}, 
			#{agentId}, 
			#{gmtCreate}, 
			#{gmtModify}
		)
	</insert>
	 
	<update id="update" parameterType="com.yukz.daodaoping.task.domain.TaskTypeInfoDO">
		update ddp_task_type_info 
		<set>
			<if test="platform != null">`platform` = #{platform}, </if>
			<if test="taskTypeDesc != null">`task_type_desc` = #{taskTypeDesc}, </if>
			<if test="taskType != null">`task_type` = #{taskType}, </if>
			<if test="allowed != null">`allowed` = #{allowed}, </if>
			<if test="agentId != null">`agent_id` = #{agentId}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModify != null">`gmt_modify` = #{gmtModify}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ddp_task_type_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ddp_task_type_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>