<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yukz.daodaoping.feedback.dao.FeedbackInfoDao">

	<select id="get" resultType="com.yukz.daodaoping.feedback.domain.FeedbackInfoDO">
		select `id`,`user_id`,`open_id`,`e_mail`,`feedback_type`,`feedback_desc`,`feedback_img_url_1`,`feedback_img_url_2`,`feedback_img_url_3`,`feedback_img_url_4`,`feedback_img_url_5`,`worker_id`,`handle_resule`,`feedback_time`,`handle_time`,`agent_id`,`gmt_create`,`gmt_modify` from ddp_feedback_info where id = #{value}
	</select>

	<select id="list" resultType="com.yukz.daodaoping.feedback.domain.FeedbackInfoDO">
		select `id`,`user_id`,`open_id`,`e_mail`,`feedback_type`,`feedback_desc`,`feedback_img_url_1`,`feedback_img_url_2`,`feedback_img_url_3`,`feedback_img_url_4`,`feedback_img_url_5`,`worker_id`,`handle_resule`,`feedback_time`,`handle_time`,`agent_id`,`gmt_create`,`gmt_modify` from ddp_feedback_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="eMail != null and eMail != ''"> and e_mail = #{eMail} </if>
		  		  <if test="feedbackType != null and feedbackType != ''"> and feedback_type = #{feedbackType} </if>
		  		  <if test="feedbackDesc != null and feedbackDesc != ''"> and feedback_desc = #{feedbackDesc} </if>
		  		  <if test="feedbackImgUrl1 != null and feedbackImgUrl1 != ''"> and feedback_img_url_1 = #{feedbackImgUrl1} </if>
		  		  <if test="feedbackImgUrl2 != null and feedbackImgUrl2 != ''"> and feedback_img_url_2 = #{feedbackImgUrl2} </if>
		  		  <if test="feedbackImgUrl3 != null and feedbackImgUrl3 != ''"> and feedback_img_url_3 = #{feedbackImgUrl3} </if>
		  		  <if test="feedbackImgUrl4 != null and feedbackImgUrl4 != ''"> and feedback_img_url_4 = #{feedbackImgUrl4} </if>
		  		  <if test="feedbackImgUrl5 != null and feedbackImgUrl5 != ''"> and feedback_img_url_5 = #{feedbackImgUrl5} </if>
		  		  <if test="workerId != null and workerId != ''"> and worker_id = #{workerId} </if>
		  		  <if test="handleResule != null and handleResule != ''"> and handle_resule = #{handleResule} </if>
		  		  <if test="feedbackTime != null and feedbackTime != ''"> and feedback_time = #{feedbackTime} </if>
		  		  <if test="handleTime != null and handleTime != ''"> and handle_time = #{handleTime} </if>
		  		  <if test="agentId != null and agentId != ''"> and agent_id = #{agentId} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModify != null and gmtModify != ''"> and gmt_modify = #{gmtModify} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ddp_feedback_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="eMail != null and eMail != ''"> and e_mail = #{eMail} </if>
		  		  <if test="feedbackType != null and feedbackType != ''"> and feedback_type = #{feedbackType} </if>
		  		  <if test="feedbackDesc != null and feedbackDesc != ''"> and feedback_desc = #{feedbackDesc} </if>
		  		  <if test="feedbackImgUrl1 != null and feedbackImgUrl1 != ''"> and feedback_img_url_1 = #{feedbackImgUrl1} </if>
		  		  <if test="feedbackImgUrl2 != null and feedbackImgUrl2 != ''"> and feedback_img_url_2 = #{feedbackImgUrl2} </if>
		  		  <if test="feedbackImgUrl3 != null and feedbackImgUrl3 != ''"> and feedback_img_url_3 = #{feedbackImgUrl3} </if>
		  		  <if test="feedbackImgUrl4 != null and feedbackImgUrl4 != ''"> and feedback_img_url_4 = #{feedbackImgUrl4} </if>
		  		  <if test="feedbackImgUrl5 != null and feedbackImgUrl5 != ''"> and feedback_img_url_5 = #{feedbackImgUrl5} </if>
		  		  <if test="workerId != null and workerId != ''"> and worker_id = #{workerId} </if>
		  		  <if test="handleResule != null and handleResule != ''"> and handle_resule = #{handleResule} </if>
		  		  <if test="feedbackTime != null and feedbackTime != ''"> and feedback_time = #{feedbackTime} </if>
		  		  <if test="handleTime != null and handleTime != ''"> and handle_time = #{handleTime} </if>
		  		  <if test="agentId != null and agentId != ''"> and agent_id = #{agentId} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModify != null and gmtModify != ''"> and gmt_modify = #{gmtModify} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yukz.daodaoping.feedback.domain.FeedbackInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into ddp_feedback_info
		(
			`user_id`, 
			`open_id`, 
			`e_mail`, 
			`feedback_type`, 
			`feedback_desc`, 
			`feedback_img_url_1`, 
			`feedback_img_url_2`, 
			`feedback_img_url_3`, 
			`feedback_img_url_4`, 
			`feedback_img_url_5`, 
			`worker_id`, 
			`handle_resule`, 
			`feedback_time`, 
			`handle_time`, 
			`agent_id`, 
			`gmt_create`, 
			`gmt_modify`
		)
		values
		(
			#{userId}, 
			#{openId}, 
			#{eMail}, 
			#{feedbackType}, 
			#{feedbackDesc}, 
			#{feedbackImgUrl1}, 
			#{feedbackImgUrl2}, 
			#{feedbackImgUrl3}, 
			#{feedbackImgUrl4}, 
			#{feedbackImgUrl5}, 
			#{workerId}, 
			#{handleResule}, 
			#{feedbackTime}, 
			#{handleTime}, 
			#{agentId}, 
			#{gmtCreate}, 
			#{gmtModify}
		)
	</insert>
	 
	<update id="update" parameterType="com.yukz.daodaoping.feedback.domain.FeedbackInfoDO">
		update ddp_feedback_info 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="openId != null">`open_id` = #{openId}, </if>
			<if test="eMail != null">`e_mail` = #{eMail}, </if>
			<if test="feedbackType != null">`feedback_type` = #{feedbackType}, </if>
			<if test="feedbackDesc != null">`feedback_desc` = #{feedbackDesc}, </if>
			<if test="feedbackImgUrl1 != null">`feedback_img_url_1` = #{feedbackImgUrl1}, </if>
			<if test="feedbackImgUrl2 != null">`feedback_img_url_2` = #{feedbackImgUrl2}, </if>
			<if test="feedbackImgUrl3 != null">`feedback_img_url_3` = #{feedbackImgUrl3}, </if>
			<if test="feedbackImgUrl4 != null">`feedback_img_url_4` = #{feedbackImgUrl4}, </if>
			<if test="feedbackImgUrl5 != null">`feedback_img_url_5` = #{feedbackImgUrl5}, </if>
			<if test="workerId != null">`worker_id` = #{workerId}, </if>
			<if test="handleResule != null">`handle_resule` = #{handleResule}, </if>
			<if test="feedbackTime != null">`feedback_time` = #{feedbackTime}, </if>
			<if test="handleTime != null">`handle_time` = #{handleTime}, </if>
			<if test="agentId != null">`agent_id` = #{agentId}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModify != null">`gmt_modify` = #{gmtModify}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ddp_feedback_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ddp_feedback_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>