<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${invitation.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户id：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${invitation.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">用户openid：</label>
								<div class="col-sm-8">
									<input id="openId" name="openId" th:value="${invitation.openId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">间接推荐人id：</label>
								<div class="col-sm-8">
									<input id="indirectUserId" name="indirectUserId" th:value="${invitation.indirectUserId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">直接推荐人id：</label>
								<div class="col-sm-8">
									<input id="directUserId" name="directUserId" th:value="${invitation.directUserId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">间接推荐人open_id：</label>
								<div class="col-sm-8">
									<input id="directOpenid" name="directOpenid" th:value="${invitation.directOpenid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">直接推荐人open_id：</label>
								<div class="col-sm-8">
									<input id="indirectOpenid" name="indirectOpenid" th:value="${invitation.indirectOpenid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">直接推荐人昵称：</label>
								<div class="col-sm-8">
									<input id="directNickName" name="directNickName" th:value="${invitation.directNickName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">间接推荐人昵称：</label>
								<div class="col-sm-8">
									<input id="indirectNickName" name="indirectNickName" th:value="${invitation.indirectNickName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">机构编号：</label>
								<div class="col-sm-8">
									<input id="agentId" name="agentId" th:value="${invitation.agentId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="gmtCreate" name="gmtCreate" th:value="${invitation.gmtCreate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="gmtModify" name="gmtModify" th:value="${invitation.gmtModify}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/invitation/invitation/edit.js">
	</script>
</body>
</html>
