<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style type="text/css">
        .item_bj{background-size:100%;}
        .item_bj .tet{padding:10px 20px 0 20px;color:black; font-weight:bold; text-align:center;min-height:20px;font-size:20px;}
    </style>
</head>
<body>
<div class="panel-default">
    <div class="panel-heading">首页</div>
    <div class="item_bj">
        <div class="tet">&nbsp;&nbsp;&nbsp;欢迎使用  助力系统</div>
    </div>
    
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/js/appjs/main.js"></script>
</html>