<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yukz.daodaoping.system.dao.UserDao">

    <select id="get" resultType="com.yukz.daodaoping.system.domain.UserDO">
		select `user_id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,`user_id_create`,`gmt_create`,`gmt_modified`,`sex`,`birth`,`pic_id`,`live_address`,`hobby`,`province`,`city`,`district`,`segment_code` as segmentCode from sys_user where user_id = #{value}
	</select>

    <select id="list" resultType="com.yukz.daodaoping.system.domain.UserDO">
        select
        u.`user_id`,u.`username`,u.`name`,u.`password`,u.`dept_id`,u.`email`,u.`mobile`,u.`status`,u.`user_id_create`,u.`gmt_create`,u.`gmt_modified`,u.`sex`,u.`birth`,u.`pic_id`,u.`live_address`,u.`hobby`,u.`province`,u.`city`,u.`district`,u.`segment_code` as segmentCode
        ,d.name as deptName
        from sys_user u left join sys_dept d on u.dept_id = d.dept_id
        <where>
            <if test="userId != null and userId != ''">and u.user_id = #{userId}</if>
            <if test="username != null and username != ''">and u.username = #{username}</if>
            <if test="name != null and name != ''">and u.name = #{name}</if>
            <if test="password != null and password != ''">and u.password = #{password}</if>
            <if test="deptId != null and deptId != ''">and u.dept_id = #{deptId}</if>
            <if test="deptIds != null and deptIds.size() > 0">and u.dept_id in
                <foreach collection="deptIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="email != null and email != ''">and u.email = #{email}</if>
            <if test="mobile != null and mobile != ''">and u.mobile = #{mobile}</if>
            <if test="status != null and status != ''">and u.status = #{status}</if>
            <if test="userIdCreate != null and userIdCreate != ''">and u.user_id_create = #{userIdCreate}</if>
            <if test="gmtCreate != null and gmtCreate != ''">and u.gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null and gmtModified != ''">and u.gmt_modified = #{gmtModified}</if>
            <if test="sex != null and sex != ''">and u.sex = #{sex}</if>
            <if test="birth != null and birth != ''">and u.birth = #{birth}</if>
            <if test="picId != null and picId != ''">and u.pic_id = #{picId}</if>
            <if test="liveAddress != null and liveAddress != ''">and u.live_address = #{liveAddress}</if>
            <if test="hobby != null and hobby != ''">and u.hobby = #{hobby}</if>
            <if test="province != null and province != ''">and u.province = #{province}</if>
            <if test="city != null and city != ''">and u.city = #{city}</if>
            <if test="district != null and district != ''">and u.district = #{district}</if>
            <if test="segmentCode != null and segmentCode != ''">and u.segment_code = #{segmentCode}</if>
            <if test="queryWord != null and queryWord != ''">
                and (
                (u.name like concat(concat('%',#{queryWord}),'%'))
                or (u.username like concat(concat('%',#{queryWord}),'%'))
                or (u.email like concat(concat('%',#{queryWord}),'%'))
                )
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by u.user_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sys_user u left join sys_dept d on u.dept_id = d.dept_id
        <where>
            <if test="userId != null and userId != ''">and u.user_id = #{userId}</if>
            <if test="username != null and username != ''">and u.username = #{username}</if>
            <if test="name != null and name != ''">and u.name = #{name}</if>
            <if test="password != null and password != ''">and u.password = #{password}</if>
            <if test="deptId != null and deptId != ''">and u.dept_id = #{deptId}</if>
            <if test="deptIds != null and deptIds.size() > 0">and u.dept_id in
                <foreach collection="deptIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="email != null and email != ''">and u.email = #{email}</if>
            <if test="mobile != null and mobile != ''">and u.mobile = #{mobile}</if>
            <if test="status != null and status != ''">and u.status = #{status}</if>
            <if test="userIdCreate != null and userIdCreate != ''">and u.user_id_create = #{userIdCreate}</if>
            <if test="gmtCreate != null and gmtCreate != ''">and u.gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null and gmtModified != ''">and u.gmt_modified = #{gmtModified}</if>
            <if test="sex != null and sex != ''">and u.sex = #{sex}</if>
            <if test="birth != null and birth != ''">and u.birth = #{birth}</if>
            <if test="picId != null and picId != ''">and u.pic_id = #{picId}</if>
            <if test="liveAddress != null and liveAddress != ''">and u.live_address = #{liveAddress}</if>
            <if test="hobby != null and hobby != ''">and u.hobby = #{hobby}</if>
            <if test="province != null and province != ''">and u.province = #{province}</if>
            <if test="city != null and city != ''">and u.city = #{city}</if>
            <if test="district != null and district != ''">and u.district = #{district}</if>
            <if test="segmentCode != null and segmentCode != ''">and u.segment_code = #{segmentCode}</if>
            <if test="queryWord != null and queryWord != ''">
                and (
                (u.name like concat(concat('%',#{queryWord}),'%'))
                or (u.username like concat(concat('%',#{queryWord}),'%'))
                or (u.email like concat(concat('%',#{queryWord}),'%'))
                )
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.yukz.daodaoping.system.domain.UserDO" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user
		(
			`username`, 
			`name`, 
			`password`, 
			`dept_id`, 
			`email`, 
			`mobile`, 
			`status`, 
			`user_id_create`, 
			`gmt_create`, 
			`gmt_modified`, 
			`sex`, 
			`birth`, 
			`pic_id`, 
			`live_address`, 
			`hobby`, 
			`province`, 
			`city`, 
			`district`,
			`segment_code`
		)
		values
		(
			#{username}, 
			#{name}, 
			#{password}, 
			#{deptId}, 
			#{email}, 
			#{mobile}, 
			#{status}, 
			#{userIdCreate}, 
			#{gmtCreate}, 
			#{gmtModified}, 
			#{sex}, 
			#{birth}, 
			#{picId}, 
			#{liveAddress}, 
			#{hobby}, 
			#{province}, 
			#{city}, 
			#{district},
			#{segmentCode}
		)
	</insert>

    <update id="update" parameterType="com.yukz.daodaoping.system.domain.UserDO">
        update sys_user
        <set>
            <if test="username != null">`username` = #{username},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="email != null">`email` = #{email},</if>
            <if test="mobile != null">`mobile` = #{mobile},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="userIdCreate != null">`user_id_create` = #{userIdCreate},</if>
            <if test="gmtCreate != null">`gmt_create` = #{gmtCreate},</if>
            <if test="gmtModified != null">`gmt_modified` = #{gmtModified},</if>
            <if test="sex != null">`sex` = #{sex},</if>
            <if test="birth != null">`birth` = #{birth},</if>
            <if test="picId != null">`pic_id` = #{picId},</if>
            <if test="liveAddress != null">`live_address` = #{liveAddress},</if>
            <if test="hobby != null">`hobby` = #{hobby},</if>
            <if test="province != null">`province` = #{province},</if>
            <if test="city != null">`city` = #{city},</if>
            <if test="district != null">`district` = #{district}</if>
            <if test="segmentCode != null">`segment_code` = #{segmentCode}</if>
        </set>
        where user_id = #{userId}
    </update>

    <delete id="remove">
		delete from sys_user where user_id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from sys_user where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="listAllDept" resultType="long">
				select DISTINCT dept_id from sys_user
	</select>

    <select id="getByUsernameAndPass" parameterType="com.yukz.daodaoping.system.domain.UserDO" resultType="com.yukz.daodaoping.system.domain.UserDO">
        select `user_id`,`username`,u.`name`,`password`,u.`dept_id`,`email`,`mobile`,`status`,`user_id_create`,`gmt_create`,`gmt_modified`,`sex`,`birth`,`pic_id`,`live_address`,`hobby`,`province`,`city`,`district`,dept.`name` as deptName,u.`segment_code` as segmentCode
        from sys_user u, sys_dept dept where u.dept_id = dept.dept_id
        <if test="username != null and username != ''">and u.username = #{username}</if>
        <if test="password != null and password != ''">and u.password = #{password}</if>
    </select>
</mapper>